trips_boundingBox_testfile.py
trips_boundingBox_backup.py
taxi_job.txt
*.xls
*.pdf
historical_weather.py
data/*
test.py
mapreduce/input/*
mapreduce/input_test/*
mapreduce/input_big/*
mapreduce/output/*
